body {
	margin: 0px;
	background-color: #E5E5E5;
}

a {
	text-decoration: none;
}

ol, ul{
	list-style: none;
}

nav {
	z-index: 500;
}

.payment-bar {
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding-left: 50px;
	padding-right: 50px;
	background-color: red;
	font-size: 16px;
	line-height: 100%;
}

.header{
	height: 60px;
	background-color: white;
	position: fixed;
	top: 60px;
	left: 0;
	right: 0;
}

.payment-bar_text {
	float: left;
	padding: 22px 0px;
}

.payment-bar_button {
	display: inline-block;
	float: right;
	background-color: black;
	color: white;
	padding: 10px 17px;
	font-size: 14px;
	margin: 13px 0;
	line-height: 100%;
}

.logo{
	display: inline-block;
	vertical-align: middle;
	padding: 15px 10px;
	line-height: 100%;
	padding-left: 10px;
	float: left;
}

.nav_button{
	padding: 0;
	display: flex;
	margin: 0 10px;
	list-style: none;
	float: left;
	align-items: center;
}

.nav_menu{
	padding: 15px 10px;
}

.nav_menu a{
	color: black;
}

.nav_menu a:hover{
	color: red;
}

.search {
	display: block;
	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: -110px;
}

.input-wrapper{
	position: relative;
}

#search-icon{
	float: left;
	display: inline-block;
	width: 30px;
	height: 30px;
}

.search-bar {
	background-color: #c8c8c8;
	width: 220px;
	height: 18px;
	border-radius: 15px;
	padding: 6px 10px 6px 30px;
	margin: 0;
	border: 0 none;
	font-size: 15px;
	line-height: 20px;
	box-sizing: content-box;
	color: white;
}

#usermenu {
	color: #141414;
	display: block;
	float: right;
	height: 30px;
	padding: 15px;
	padding-right: 35px;
	line-height: 35px;
	position: relative;
}

#contents{
	overflow: hidden;
}



.title{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

.section{
	position: relative;
	margin: 50px auto 0;
	height: 690px;
}

ol .list{
	list-style: decimal;
}

.grid-container{
	display: inline-block;
}


.ranking{
	height: 450px;
	width: 220px;
	float: left;
	margin: 10px;
	background-color: red;
	border-radius: 5px;
	position: absolute;
}

.head{
	color: white;
	height: 50px;
	list-style: 50px;
	font-size: 14px;
	text-indent: 15px;
	position: relative;
}

#footer{
	background-color: white;
	height: 230px;
}

.ask{
	position: fixed;
	bottom: 10px;
	left: 12px;
}